meteo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="meteo">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="mesure" type="MesureType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="MesureType">
        <xsd:sequence>
            <xsd:element name="ville" type="CityType" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="date" type="xsd:date" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="CityType">
        <xsd:attribute name="nom" type="xsd:string" use="required"/>
        <xsd:attribute name="temperature" type="xsd:int" use="required"/>
    </xsd:complexType>
</xsd:schema>
